<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Amazing Notebooks| Shop</title>
    <link th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"
          id="bootstrap-css"/>
    <script th:attr="src=@{//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script th:attr="src=@{//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <!-- Core Style CSS -->
    <link rel="stylesheet" th:href="@{/vendor/css/core-style.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/style.css}"/>


</head>
<body>
<h1>Thank you very much for participating in the experiment</h1>
</body>
</html>