<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Aleksandra Gawor Magister Thesis</title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{img/core-img/favicon.ico}"/>

    <!-- Core Style CSS -->
    <link rel="stylesheet" th:href="@{/vendor/css/core-style.css}"/>
    <!--<link rel="stylesheet" th:href="@{/vendor/style.css}"/>-->


</head>

<body>


<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a><img th:attr="src=@{/vendor/img/core-img/cart.png}" alt=""/></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo-intro">
            <p class="logo-intro">AMAZING GIFTS</p>
        </div>


    </header>
    <!-- Header Area End -->

    <!-- Product Catagories Area Start -->
    <section class="about">
        <div class="about clearfix">
            <div class="amado-pro-catagory clearfix">

                <div class="container">
                    <div class="row-intro">
                        <!-- Newsletter Text -->
                        <div class="col-12 col-lg-6 col-xl-9">
                            <div class="line"></div>

                            <p>I am a developer interested in professional development as Java and Machine Learning developer. In 2017 I completed a 280-hour back-end course at the CodersLab Programming School in Warsaw. I gained my professional experience in companies located in Warsaw , London and Germany. Currently I am also extending my knowledge during the Informatics and Econometric studies at University of Warsaw .
                            </p>
                        </div>
                        <!-- Newsletter Form -->
                        <div cclass="col-12 col-lg-6 col-xl-7">
                            <div class="profile">
                                <img th:attr="src=@{/vendor/img/bg-img/alex.jpg}" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<!-- Product Catagories Area End -->

<!-- ##### Main Content Wrapper End ##### -->

<!-- ##### Newsletter Area Start ##### -->
<section class="description">
    <div class="container">
        <div class="row-describ">
            <!-- Newsletter Text -->
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="newsletter-text mb-100">
                    <h2>The <span>Aim</span></h2>
                    <p>Aim of this experiment is to classify users into groups of customers with the usage of
                     supervised and unsupervised algorithms. </p>
                </div>
            </div>


        </div>
    </div>
</section>
<section class="works">
    <div class="container">
        <div class="row-intro">
            <!-- Newsletter Text -->
            <div class="col-12 col-lg-6 col-xl-7" style="margin-top: 400px;">
                <div class="works" >
                    <h2>Steps <span>to proceed</span></h2>
                    <p>Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate consectetur.
                        Donec auctor interdum purus, ac finibus massa bibendum nec.Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.</p>
                </div>
            </div>


        </div>
    </div>
</section>
<a th:href="@{/register}"><button type="button" class="btn btn-warning btn-block">Begin</button></a>

<!-- ##### Footer Area Start ##### -->
<footer class="footer_area_intro clearfix">
    <div class="container">
        <div class="row-intro">
            <!-- Single Widget Area -->

            <!-- Single Widget Area -->

        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script th:attr="src=@{/vendor/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:attr="src=@{/vendorjs/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:attr="src=@{/vendor/js/bootstrap.min.js}"></script>
<!-- Plugins js -->
<script th:attr="src=@{/vendor/js/plugins.js}"></script>
<!-- Active js -->
<script th:attr="src=@{/vendor/js/active.js}"></script>

</body>


</html>
