<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${product.name}"></title>
</head>
<body>
 <div class="single-product-wrapper">
        <div class="product-img">
            <div class="container">
                <table class="table table-sm">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th style="padding-left: 150px;">Quantity</th>
                    </tr>
                    <tr th:each="product : ${product}">
                        <td class="td-actions text-right" th:text="${product.name}"></td>
                        <td th:text="${product.price}"/>
                        <td class="td-actions text-right"/>
                            <form th:action="@{/shopuser/addtocart}" method="post"
                                  th:object="${productModel}">
                                <input type="text" th:value="${product.id}" name="id"
                                       hidden="hidden"/> <input type="text" th:value="${product.price}"
                                                                name="price" hidden="hidden"/>
                                <input type="text"
                                       th:value="${product.name}" name="name" hidden="hidden"/>
                                <!--<input-->
                                        <!--type="number" th:value="${product.amount}" name="amount"-->
                                        <!--hidden="hidden"/>-->
                                <input type="number" th:field="*{quantity}"/>
                                <input type="submit" class="btn btn-info btn-sm"
                                       value="Add to cart"/>
                            </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</body>
</html>